$bg-dark-1:#333;
$bg-dark-2:#074e68;
$bg-light-1:rgb(245, 245, 245);
$fg-dark: #343434;
// responsive box system 
$space: 10px;
$max-width: 1200px;
$cont-max-width: 1200px - 4 * $space;
$col-width: 100% / 12;

* {
  box-sizing: border-box;
}

body,
html,
header,
main,
footer {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  background-color: $bg-light-1;
}

header div.top {
  height: 80px;
  background-color: $bg-dark-1;
  color: #fff;
}

header div.bottom {
  height: 70px;
  background-color: $bg-dark-2;
  color: #fff;
}

footer div.top {
  height: 40px;
  background-color: $bg-dark-2;
  color: #fff;
}

footer div.bottom {
  height: 60px;
  background-color: $bg-dark-1;
  color: #fff;
}

///////////////////
// Layout Box Model
// Container is the top level element
// all Elements within the Container have a maximum width of $max-width

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding-top: $space;

  div {
    // leave margin-top as is
    margin-left: $space*-2;
    margin-right: $space*-2;
  }

  .row {
    margin-bottom: $space;
    padding-bottom: 0;
  }

  .colgroup {
    padding: 0;
    margin-left: 0;
    margin-right: ($space * 3 + 1) * -1;
  }

  .col {
    padding: 0 $space * 2;
    margin-left: 0;
    margin-right: $space;
    margin-bottom: 0;
    position: relative;
    float: left;
  }

  .row.box {
    padding-bottom: $space;
  }

  .col.box {
    padding-top: $space;
    padding-bottom: $space;
  }

}

.container,
.container div {
  // leave padding-top as is
  padding-left: $space * 2;
  padding-right: $space * 2;
  padding-bottom: $space;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > .col:first-of-type {
    margin-left: $space*-2;
  }

  > .col:last-of-type {
    margin-right: 0px;
  }

}

.container {
  .span-2 {
    width: $col-width * 2;
  }

  .span-3 {
    width: $col-width * 3;
  }

  .span-4 {
    width: $col-width * 4;
  }

  .span-5 {
    width: $col-width * 5;
  }

  .span-6 {
    width: $col-width * 6;
  }

  .span-7 {
    width: $col-width * 7;
  }

  .span-8 {
    width: $col-width * 8;
  }

  .span-9 {
    width: $col-width * 9;
  }

  .span-10 {
    width: $col-width * 10;
  }

  .span-11 {
    width: $col-width * 11;
  }

  .span-12 {
    width: $col-width * 12;
  }

}

// box has a white background and a box-shadow
.box {
  padding: $space $space * 2;
  background-color: #fff;
  color: $fg-dark;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
}

h1 {
  font-weight: 400;
  margin: 10px 0 0 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 10px 0 0 0;
}

/* @media only screen and (max-device-width:480px) {
}

*/